<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-flow: space-between;
    gap: 10px;
    font: bold 44px Georgia, sans-serif;
  }

  .title {
    border: solid;
    display: flex;
    color: black;
  }

  .title .subtitle {
    margin: auto;
    display: flex;
    align-items: center;
  }

  .explanation-block {
    border: solid;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 5px;
  }

  .defer-inmediate-block {
    border: solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    min-height: 230px;
  }

  .defer-click-block {
    border: solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    min-height: 230px;
  }

  .placeholder-block {
    border: solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    min-height: 230px;
  }

  .viewport-block {
    border: solid;
    display: grid;
    font-size: 20px;
    min-height: 230px;
  }

  .loading-block {
    border: solid;
    display: grid;
    font-size: 20px;
    min-height: 230px;
  }

  .full-example-block {
    border: solid;
    display: grid;
    font-size: 20px;
    min-height: 230px;
  }
</style>

<div class="wrapper">
  <div class="title">
    <div class="subtitle">
      <img
        src="../assets/angular.png"
        alt=""
      >
      <span>&#64;defer</span>
    </div>
  </div>

  <div class="explanation-block">
    <span style="background-color: rgb(109, 156, 216);">&#64;defer
      permite la carga perezosa (lazy load) de componentes, directivas
      y pipes que se usen en un template</span>
    <span
      style="background-color: rgb(53, 69, 99); color:rgb(238, 238, 238);"
    >
      La carga se realiza al ejecutarse cierto evento, como un click,
      o mediante una condición que indiquemos (cuando una variable sea
      true por ejemplo)
    </span>
    <span style="background-color: rgb(109, 156, 216);">
      Only standalone components, directives, and pipes can be
      deferred. The NgModule-based dependencies would be included into
      the eagerly loaded bundle.

      https://angular.io/guide/defer#behavior-with-ngmodule
    </span>
  </div>

  <div class="defer-inmediate-block">
    <div>
      <span>Lazy load al cargar la pagina.</span>
      <br />
      <span>Al cargar la pagina comienzan a descargarse los chunks del
        resto de componentes.</span>
      <br />
      <pre>
      {{deferInmediate}}
      </pre>
      <br />
    </div>
    @defer{
    <app-defer-inmediate />
    }
  </div>

  <div class="explanation-block">
    <span style="background-color: rgb(109, 156, 216);">on idle :
      cuando el nagegador se encuentre en reposo</span>
    <span style="background-color: rgb(109, 156, 216);">on immediate :
      despues de renderizar la página</span>
    <span style="background-color: rgb(109, 156, 216);">on viewport :
      cuando determinado contenido sea visible</span>
  </div>

  <div class="defer-click-block">
    <div>
      Cargar al interactuar (click, touch, focus)
      <br />
      <pre>
      {{deferClick}}
      </pre>
      <br />
      <button #trigger>Trigger</button>
    </div>
    @defer (on interaction(trigger)){
    <app-defer-click />
    }
  </div>

  <div class="explanation-block">
    <span style="background-color: rgb(109, 156, 216);">on interaction
      : cuando se ejecute un evento click, focus o touch en un
      elemento</span>
    <span style="background-color: rgb(109, 156, 216);">on hover : al
      pasar el ratón por encima</span>
    <span style="background-color: rgb(109, 156, 216);">on timer :
      despues de cierto tiempo</span>
  </div>

  <div class="placeholder-block">
    <div>
      Hasta que se den las condiciones para cargar un elemento,
      podemos mostrar otro elemento de nuestra elección mediante
      &#64;paceholder
      <br />
      <pre>
      {{deferPlaceholder}}
      </pre>
      <br />
    </div>
    @defer (on timer(5000ms)){
    <app-defer-placeholder />
    } @placeholder {
    <img
      src="../assets/placeholder.gif"
      height="230"
      alt="machine"
    >
    }
  </div>

  <div class="loading-block">
    <div>
      <span>
        Utiliza loading para mostrar un spinner durante el tiempo de
        carga del componente "app-defer-loading"
      </span>
      <br />
      <span>
        Puedes usar el spinner que hay en assets, "spinner.gif" como
        elemento para mostrar durante el loading.
      </span>
      <br />
      <span>
        Extra: añade un minimo de 1 segundo al loading, para evitar parpadeos si se carga muy rapido.
      </span>
      <br />

    </div>
    @defer {
    <app-defer-loading />
    } @loading(minimum 1000) {
      <img
        src="../assets/spinner.gif"
        height="230"
        alt="bugs"
      >
    }
  </div>

  <div class="viewport-block">
    <div>
      <span>
        Con &#64;viewport podemos demorar la carga de un componente
        hasta que entre en el "viewport", es decir, hasta que ocupe el
        espacio que se está mostrando en el navegador.
      </span>
      <br />
      <span>
        Un elemento que esté fuera del viewport y haya que hacer
        scroll para poder verlo sería un caso de uso de &#64;viewport
      </span>
      <br />
      <pre>
      {{deferViewport}}
      </pre>
      <br />
    </div>

    <div style="margin-top: 1500px"></div>
    <div #triggerViewport></div>
    @defer (on viewport(triggerViewport)){
    <app-defer-viewport />
    }
  </div>

  <div class="full-example-block">
    <div>
      <span>
        En caso de error podemos mostrar un error usando la clausula &#64;error
      </span>
      <br />
      <span>
        Vamos a crear un ejemplo completo con:
        <ul>
          <li>
            defer on idle
          </li>
          <li>
            placeholder
          </li>
          <li>
            loading
          </li>
          <li>
            error
          </li>
          <li>
            puedes usar los componentes que ya existen y las imagenes disponibles en la carpeta "assets"
          </li>
        </ul>
      </span>
      <br />

    </div>

    @defer(on idle){
      <p>Todo ha ido genial!</p>
      <img src="../assets/awesome.gif" alt="">
    } @placeholder(minimum 1000) {
        <img
        src="../assets/placeholder.gif"
        height="230"
        alt="machine"
      >
    } @loading(minimum 1000) {
      <img
        src="../assets/spinner.gif"
        height="230"
        alt="bugs"
      >
    } @error {
      <p class="text-red-500">Algo ha ido mal<p>
    }
  </div>
</div>


<router-outlet></router-outlet>
